body {
  font-family: Arial, sans-serif;
  background-image: url('img/fondo1.jpg');
  background-size: 100%;

}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

h2 {
  text-align: center;
  color: #fff;
}

#guess-input {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  width: 250px;
  border: 1px solid #ccc;
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0CBABA;
  color: #fff;
  border: none;
  border-radius: 3px;
}

button:active {
  transform: scale(0.95);
  color: #a4a7ac;
}

.letter {
  font-weight: bold;
  padding: 3px;
  margin: 3px;
  min-width: 35px;
  border-radius: 3px;
  text-align: center;
  display: inline-block
}

#grid {
  margin-top: 15px;
}

.row {
  margin-bottom: 10px;
  text-align: center;
}

.input-area {
  margin: 30px;
}